.main-scene {
  background-color: white;
  height: 100%;
  overflow-x: hidden !important;
}

.introduction {
  align-items: center;
  justify-content: center;
  display: flex;
  font-display: row;
  width: 10vw;
}

.header-text {
  font-size: 70px;
  width: 100%;
  font-family: Nunito Sans;
  font-weight: 600;
}

.body-text {
  font-size: 18px;
  width: 100%;
  text-overflow: clip;
  font-family: Nunito Sans;
}

.emmet-pfp {
  margin-left: 5vw;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px lightgrey;
}

.rit-hover {
  text-decoration: none !important;
  color: black !important;
}

.rit-hover:hover {
  color: white !important;
}

.rit-hover:active {
  color: black;
}

.icon-hover:hover {
  scale: 1;
  background: #d4d4d4;
  border-color: #d4d4d4;
  transition: 200ms;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-caret {
  display: inline-block;
  width: 10px;
  height: 100%;
  background-color: orange;
  animation: blink 1s step-start infinite;
  transition-duration: 0ms;
}

.welcome-text::after {
  content: "";
  animation: hellomessage 3s steps(6) forwards;
}

@keyframes hellomessage {
  0% {
    content: "";
  }
  20% {
    content: "H";
  }
  30% {
    content: "He";
  }
  40% {
    content: "Hel";
  }
  45% {
    content: "Hell";
  }
  60% {
    content: "Hello";
  }
  78% {
    content: "Hello!";
  }
  100% {
    content: "Hello!";
  }
}
